* {
  padding: 0;
  margin: 0;
}

html {
  /* -webkit-app-region: drag; */
}
textarea {
  -webkit-app-region: no-drag;
}

body {
  height: 100vh;
  width: 100vw;
}

.demo {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: red;
}
